.colorN{/*color de letras*/
    color: #383B47;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    margin-top: 10px;
}
.colorA{/*color de letras*/
    color:  #FCD168;
    font-optical-sizing: auto;    
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-style: normal;
    margin-top: 10px;
    Text-shadow: 0.5px 0.5px 1px #383B47;
}
.centerCards{
    /*margin-top: 25px;*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.card-body {
    font-family: "Montserrat", sans-serif;
}
.styTitle{
    text-align:left;
    margin-top: auto;
    font-weight: bold;
}
.styDescripcion{
    text-align:justify;
}
.styPrecio{
    margin-right: 30%;
    text-align: right;
    margin-top: auto;
    font-weight: bold;
    color:#C45564;
}
.pagarRight{
    margin-right: 15%;
    text-align: right;
    margin-top: auto;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
}
.btnStyle {
    width: 90%;
    margin:10px;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
   
}
.panelprincipal{
 
    max-width: 951px;
}
/*animaciones*/
.card:hover{/*efecto de transicion aplicado*/
    /*  transform: scale(1.1);*/
    /*backdrop-filter:brightness(90%);*/    
    /*transition: 0.2s;*/
    transform: scale(1.01);
    margin: 5px;
    box-shadow: 1px 1px 10px rgb(196, 187, 187); /*Aplicarle un sombreado a card*/
    cursor: pointer;
}
.sombraBtn:hover{/*sobra y movimiento en los botones*/
    box-shadow:4px 5px 5px 1px rgb(220, 216, 216);/*sombreado de button*/
   /* transition: 0.6s;*/
   /* transform: scale(1.01);*/
    margin: 5px;
}
