
.main>*{  
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.parteTitulo1{
    color: #383B47;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    margin-top: 10px;
    display: inline-block;
    
}
.parteTitulo2{
    line-height: 1px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    display:inline;
    color: #FCD168;
    Text-shadow: 0.5px 0.5px 1px #383B47;
    
}
form{
    color: #383B47;
    font-family: "roboto";
    font-optical-sizing: auto;
    font-weight:800;   
}
@media (max-width: 768px) {
    /* margenes para dispositivos móviles */
    main {
        align-content: center;
        padding-left: 20px;
        padding-right: 20px;
    }
    /* Diseño card movil */
    .mapa >* {
        width: 80%;
        height: 300px;
        text-align: center;

    }
}
/* Estilo al boton de los forms */
.enviar{
    background-color: #007BA7 ;
    color: white;
    font-size: 18px;
    border: 0;
    padding: 8px 15px;
    border-radius: 6px;
    font-family: 'Roboto'
    }
    .enviar:hover{
    background-color: #007BA7 ;
    color: white;
    padding: 9px 18px;
    opacity: 0.8;
    }