main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 16px;
  
}
@media (width <426px){
   main {
    grid-template-columns: 1fr;

    }
}
form{
    color: #383B47;
    font-family: "roboto";
    font-optical-sizing: auto;
    font-weight:800;   
    font-optical-sizing: auto;
    padding-left: 55px;
    padding-right: 55px;
    padding-bottom: 70px;
}
  .input-row {
    position: relative;
    display: inline-block;
    width: 100%; 
  }

  .input-row img.eye {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    cursor: pointer; /* Establece el cursor como puntero */
  }

  .input-row input {
    padding-right: 25px;
  }
.titulo1{
    color: #383B47;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    margin-top: 55px;
    margin-left: 55px;

}
.titulo2{
    color: #FCD168;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    margin-top: 55px;
    margin-left: 55px;
}
/* Estilo al boton de los forms */
.enviar{
    background-color: #007BA7 ;
    color: white;
    font-size: 18px;
    border: 0;
    padding: 8px 15px;
    border-radius: 6px;
    font-family: 'Roboto'
    }
    .enviar:hover{
    background-color: #007BA7 ;
    color: white;
    padding: 9px 18px;
    opacity: 0.8;
    }