main {
    /* margenes para desktop */
    padding-left: 100px;
    padding-right: 100px;
}

.card-body {
    overflow: auto; /* Permite desplazamiento si el contenido excede la altura máxima */
}
.card-img-top{
    object-fit: cover; /*Cubrir completamente el contenedor de la imagen*/
}
.card {
    transition: box-shadow 0.3s ease; /* Transición suave para el resaltado */
    max-height:700px; /* Establece la altura máxima */
}
.card:hover {
    /* Estilos cuando el mouse está sobre la tarjeta */
    box-shadow: 0px 0px 25px #007BA7; /* Sombra para resaltar */
}

.estilo1{
    color: #383B47;
    margin-top: 10px;
    display: inline-block;
}

.estilo2{
    line-height: 1px;
    display:inline;
    color: #FCD168;
    Text-shadow: 0.5px 0.5px 1px #383B47;
}
p {
    text-align:justify; /* Centrar el texto */
    color: #383B47;
    font-size: 22px;  
}
h6>*{
    font-size: 24px;
    color:#007BA7;
}
@media only screen and (max-width: 768px) {
    /* margenes para dispositivos móviles */
    main {
        padding-left: 20px;
        padding-right: 20px;
    }
    /* Diseño card movil */
    .card-body {
        overflow: auto; /* Permite desplazamiento si el contenido excede la altura máxima */
    }
    .estilo1,.estilo3{
        font-size: 35px;  
    }
}